@media only screen and (max-width: 493px) {
  body {
    border: 2px solid black;
    height: 850px;
    position: relative;
  }

  section {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute;

  }

  section#green {
    background-color: green;
    right: 5%;
  }

  section#red {
    background-color: red;
    top: 5%;
  }

  section#blue {
    background-color: blue;
    bottom: 50%;
  }

  section#orange {
    background-color: orange;
    right: 20%;
    top: 20%;
  }


}

body {
  border: 2px solid black;
  height: 850px;
  position: relative;
}

section {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  position: absolute;

}

section#green {
  background-color: green;
  right: 5%;
}

section#red {
  background-color: red;
  top: 20%;
  left: 20%;
}

section#blue {
  background-color: blue;
  bottom: 50%;
  top: 20%;
}

section#orange {
  background-color: orange;
  right: 20%;
  top: 20%;
}